<!-- Content -->
<div class="span9">
    <section id="IBN">
        <div class="page-header">
            <h2>IBN</h2>
        </div>
        <div>
            <img src="@routes.Assets.at("icons/ibn.png")" alt="IBN Konstanz"/>
            <br><br>

            <p>
                IBN Redaktion <br>
                Hans-Dieter M&ouml;hlhenrich<br>
                Malvine-Schiesser-Weg 3<br>
                78315 Radolfzell<br>
                Germany<br>
                <br>
                <a href="http://www.ibn-online.de">www.ibn-online.de</a><br>
                ibn at ibn-online.de
            </p>
        </div>
    </section>

    <section id="Htwg-Konstanz">
        <div class="page-header">
            <h2>HTWG Konstanz</h2>
        </div>
        <div>
            <img src="@routes.Assets.at("icons/htwg.png")" alt="HTWG Konstanz"/>
            <br><br>

            <p>
                HTWG Konstanz<br>
                Informatik<br>
                Prof. Dr. Marko Boger<br>
                Brauneggerstr. 55<br>
                78462 Konstanz<br>
                Germany<br>
                <br>
                <a href="http://www.htwg-konstanz.de">www.htwg-konstanz.de</a><br>
                marko.boger at htwg-konstanz.de
            </p>
            <br>
            <br>
        </div>
    </section>
</div>
<!-- Content -->

