<title>Seapal</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("icons/seapal_normal.png")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/docs.css")">
<link rel="stylesheet/less"href="@routes.Assets.at("stylesheets/content.less")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/custom_map_options.css")">

<script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap-affix.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap-collapse.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap-scrollspy.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/less.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap-transition.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap-button.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap-modal.js")" type="text/javascript"></script>

